.frc__wrapper {
    .frc__container {
        padding: 25px;
        position: relative;
        .frc__table {
            padding: 25px 15px;
            box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
                0 1px 8px 0 rgba(0, 0, 0, 0.12);
            .paging__all {
                text-align: right;
                margin-top: 20px;
            }
        }
    }
}
.vgv__inputSTKG {
    display: flex;
    justify-content: flex-end;
    .vgv__STKG {
        width: unset;
        .ant-input-wrapper {
            width: unset;
            .ant-input {
                display: none;
                text-align: right;
                padding: 0;
                border: none;
                background: transparent;
                &:focus {
                    box-shadow: unset;
                }
            }
            .ant-input-group-addon {
                padding: 0;
                border: none;
                background: transparent;
            }
        }
    }
}
.vgv__inputPTCP {
    display: flex;
    justify-content: flex-end;
    .vgv__PTCP {
        width: unset;
        .ant-input-wrapper {
            width: unset;
            .ant-input {
                display: none;
                text-align: right;
                padding: 0;
                border: none;
                background: transparent;
                &:focus {
                    box-shadow: unset;
                }
            }
            .ant-input-group-addon {
                background: transparent;
                padding: 0;
                border: none;
            }
        }
    }
}
.vgv__tenToChuc {
    display: flex;
    .vgv__thumbnail {
        width: 16px;
        height: 16px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .vgv__pTenToChuc {
        margin-bottom: 0;
        margin-top: 2px;
        margin-left: 5px;
    }
}
.vgv__inputStartDate,
.vgv__inputEndDate {
    text-align: center;
}
.vgv__moTa {
    max-width: 1000px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
