.fdi__wrapper {
    width: 55vw;
    height: auto;
    background-color: #e8f7ff;
    display: flex;
    margin: auto;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    .fdi__container {
        width: 100%;
        h3 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 35px;
        }
        .fdi__form {
            width: 100%;
            padding: 0 85px 25px 45px;
            background-color: #e8f7ff;
            display: flex;
            justify-content: space-between;
            .fdi__formLeft {
                width: 48%;
                margin-right: 40px;
                .fdi__avata {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                    .fdi__avataWrapper {
                        width: 75px;
                        height: 75px;
                        position: relative;
                        .fdi__file {
                            display: none;
                        }
                        .fdi__label {
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            cursor: pointer;
                            right: 0;
                            bottom: 15%;
                            img {
                                width: 15px;
                            }
                        }
                        img {
                            width: 75px;
                        }
                    }
                }
                .fdi__formLeftGird {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-gap: 20px;
                    .one {
                        grid-column: 1 / 3;
                        grid-row: 1;
                    }
                    .two {
                        grid-column: 1 / 3;
                        grid-row: 2;
                    }
                    .three {
                        grid-column: 1 / 2;
                        grid-row: 3;
                    }
                    .four {
                        grid-column: 2 / 3;
                        grid-row: 3;
                    }
                    .five {
                        grid-column: 1 / 3;
                        grid-row: 4;
                    }
                }
            }
            .fdi__formMiddle {
                width: 1px;
                border-left: 1px solid #ff8412;
            }
            .fdi__formRight {
                width: 48%;
                margin-left: 20px;
                .fdi__avata {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                    .fdi__avataWrapper {
                        width: 75px;
                        height: 75px;
                        position: relative;
                        .fdi__file {
                            display: none;
                        }
                        .fdi__label {
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            cursor: pointer;
                            right: 0;
                            bottom: 15%;
                            img {
                                width: 15px;
                            }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .fdi__formRightGird {
                    display: grid;
                    grid-template-columns: 33% 20% 10% 33%;
                    grid-gap: 20px;
                    .one {
                        grid-column: 1 / 5;
                        grid-row: 1;
                    }
                    .two {
                        grid-column: 1 / 3;
                        grid-row: 2;
                    }
                    .three {
                        grid-column: 3 / 5;
                        grid-row: 2;
                    }
                    .four {
                        grid-column: 1 /5;
                        grid-row: 3;
                    }
                    .five {
                        grid-column: 1 / 5;
                        grid-row: 4 / 5;
                    }
                }
            }
        }
        .fdi__button {
            display: flex;
            justify-content: space-between;
            padding: 0 35px 20px 35px;
            .fdi__buttonBack {
                opacity: 0.5;
                cursor: pointer;
                img {
                    transform: rotate(180deg);
                    width: 15px;
                    height: 15px;
                    display: block;
                    margin: auto;
                }
                &:hover {
                    opacity: 1;
                }
            }
            .fdi__buttonDone {
            }
        }
    }
}
