.register__wrapper {
    width: 100%;
    background-color: rgba(211, 204, 204, 0.5);
    font-family: "Montserrat", sans-serif;
    .register__container {
        .register__form {
            border-radius: 12px;
            background-color: #ffffff;
        }
    }
}
.MuiStepConnector-alternativeLabel {
    top: 18px !important;
    .MuiStepConnector-lineHorizontal {
        border-color: #ff8412 !important;
    }
}
