.register__wrapper {
    width: 100%;
    background-color: rgba(211, 204, 204, 0.5);
    font-family: "Montserrat", sans-serif;
    .register__container {
        .register__form {
            border-radius: 12px;
            background-color: #ffffff;
            .register__body {
                min-height: calc(100vh - 221px);
                background-color: #f0f2f5;
            }
            .register__space {
                background-color: #f0f2f5;
                height: 50px;
            }
        }
    }
}
.MuiStepConnector-alternativeLabel {
    top: 18px !important;
    .MuiStepConnector-lineHorizontal {
        border-color: #ff8412 !important;
    }
}
