.im__wrapper {
    margin-top: 75px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    .im__banner {
        padding: 35px;
        background-color: #112d4e;
        text-align: center;
        .im__title {
            color: #6bdcff;
            text-transform: uppercase;
            font-weight: 700;
            font-style: inherit;
            font-size: 46px;
        }
        .im__slogan {
            color: #ffffff;
            font-weight: 500;
        }
    }
    .im__hr {
        width: 200px;
        margin: auto;
    }
}
