.fiato__wrapper {
    width: 60vw;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: auto;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    .fiato__container {
        width: 100%;
        h3 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 35px;
        }
        .fiato__form {
            padding: 0 55px;
            .fiato__lineOne {
                display: flex;
                justify-content: space-between;
                .fiato__tenToChuc {
                    width: 40%;
                    input {
                        border: 1px solid #ff8412;
                        font-size: 16px;
                        &:focus {
                            box-shadow: unset;
                        }
                    }
                }
                .fiato__linhVucKinhDoanh {
                    width: 58%;
                    .ant-select {
                        font-size: 17px;
                        height: 100%;
                        width: 100% !important;
                        .ant-select-selector {
                            border: 1px solid #ff8412;
                            &:focus {
                                box-shadow: unset;
                            }
                        }
                    }
                }
            }
            .fiato__lineTwo {
                display: flex;
                justify-content: space-between;
                margin: 20px 0;
                .fiato__giaiDoanPhatTrien {
                    width: 40%;
                    .ant-select {
                        font-size: 17px;
                        height: 100%;
                        width: 100% !important;
                        .ant-select-selector {
                            height: 100%;
                            border: 1px solid #ff8412;
                            &:focus {
                                box-shadow: unset;
                            }
                        }
                    }
                }
                .fiato__namThanhLap {
                    width: 28%;
                    input {
                        font-size: 17px;
                        border: 1px solid #ff8412;
                        &:focus {
                            box-shadow: unset;
                        }
                    }
                }
                .fiato__soLuongThanhVien {
                    width: 28%;
                    input {
                        font-size: 17px;
                        border: 1px solid #ff8412;
                        &:focus {
                            box-shadow: unset;
                        }
                    }
                }
            }
            .fiato__lineThree {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                .fiato__khuVucHoatDong {
                    width: 60%;
                    .ant-select {
                        font-size: 17px;
                        height: 100%;
                        width: 100% !important;
                        .ant-select-selector {
                            border: 1px solid #ff8412;
                            &:focus {
                                box-shadow: unset;
                            }
                        }
                    }
                }
                .fiato__linkWebsite {
                    width: 38%;
                    input {
                        border: 1px solid #ff8412;
                        &:focus {
                            box-shadow: unset;
                        }
                    }
                }
            }
            .fiato__lineFour {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                .fiato__moTaVeDoanhNghiep {
                    width: 78%;

                    textarea {
                        border: 1px solid #ff8412;
                        &:focus {
                            box-shadow: unset;
                        }
                    }
                }
                .fiato__logo {
                    width: 20%;
                    position: relative;
                    .fiato__file {
                        display: none;
                    }
                    .fiato__userLogo {
                        width: 100%;
                    }
                    .fiato__camera {
                        width: 15px;
                        height: 15px;
                    }
                    .fiato__span {
                        position: absolute;
                        cursor: pointer;
                        height: 25px;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
        .fiato__button {
            display: flex;
            justify-content: space-between;
            .fiato__buttonLeft {
                opacity: 0.5;
                transition: all 0.2s;
                cursor: pointer;
                margin-left: 20px;
                margin-bottom: 15px;
                img {
                    width: 15px;
                    transform: rotate(180deg);
                    display: block;
                    margin: auto;
                }
                &:hover {
                    opacity: 1;
                }
            }
            .fiato__buttonRight {
                opacity: 0.5;
                transition: all 0.2s;
                cursor: pointer;
                margin-right: 20px;
                margin-bottom: 15px;
                img {
                    display: block;
                    width: 15px;
                    margin: auto;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
