.lni__wrapper {
    width: 100%;
    padding: 20px 65px;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    .lni__container {
        display: flex;
        margin-bottom: 20px;
        border-bottom: 1px solid #c4c4c4;
        padding: 10px;
        .lni__logo {
            width: 10%;
            img {
                width: 75px;
            }
        }
        .lni__dateContent {
            width: 90%;
            p {
                margin-bottom: 0;
            }
        }
    }
}
