.fm__wrapper {
    width: 50vw;
    height: auto;
    background-color: #e8f7ff;
    display: flex;
    margin: auto;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
    .fm__container {
        width: 100%;
        h3 {
            text-align: center;
            margin-top: 20px;
        }
        .fm__box {
            display: flex;
            padding: 15px 45px 0 45px;

            justify-content: space-around;
            .fm__formLeft {
                margin-right: 50px;
                width: 50%;
                .fm__form {
                    .fm__avata {
                        width: 75px;
                        height: 75px;
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        margin: auto;
                        position: relative;
                        margin-bottom: 20px;
                        .fm__file {
                            display: none;
                        }
                        .fm__camera {
                            width: 15px;
                            height: 15px;
                        }
                        .fm__span {
                            position: absolute;
                            cursor: pointer;
                            height: 25px;
                            right: 0;
                            bottom: 0;
                        }
                    }
                    .fm__displayGrid {
                        display: grid;
                        grid-template-columns: repeat(1/4fr);
                        grid-gap: 20px;
                        .hoVaTen {
                            grid-column: 1 / 4;
                            grid-row: 1;
                        }
                        .chucVu {
                            grid-column: 1 / 4;
                            grid-row: 2;
                        }

                        .linkCV {
                            grid-column: 1 / 4;
                            grid-row: 4;
                        }
                        .gmail {
                            grid-column: 1 / 4;
                            grid-row: 3;
                        }
                        .buttonAdd {
                            grid-column: 1 / 4;
                            grid-row: 5;
                            text-align: right;
                        }
                    }
                }
            }
            .fm__formMiddle {
                width: 2%;
                border-left: 1px solid #ff7d04;
            }
            .fm__formRight {
                width: 40%;
                margin-left: 50px;
                .fm__member {
                    height: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .fm__buttonDone {
                    height: 10%;
                    text-align: right;
                    line-height: 2.7;
                }
            }
        }
        .fm__button {
            margin-top: 20px;
            opacity: 0.5;
            transition: all 0.2s;
            cursor: pointer;
            margin-left: 20px;
            margin-bottom: 15px;
            width: 65px;
            img {
                display: block;
                width: 15px;
                margin: auto;
                transform: rotate(180deg);
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}
