.modalah__accountHome {
    width: 780px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .modalah__displayFlex {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        .modalah__avata {
            width: 200px;
            height: 150px;
            .modalah__TImage {
                width: 125px;
                height: 125px;
                display: flex;
                justify-content: center;
                margin: auto;
                align-items: center;
                position: relative;
                margin-top: 30%;
                transform: translateY(-50%);
                .modalah__TImageimg {
                    object-fit: cover;
                    object-position: top;
                }
                .modalah__userAvata {
                    border: 1px dashed red;
                }
                .modalah__file {
                    display: none;
                }
                .modalah__camera {
                    width: 15px;
                    height: 15px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    opacity: 0;
                }
                &:hover {
                    .modalah__camera {
                        opacity: 1;
                    }
                }
                .modalah__span {
                    position: absolute;
                    cursor: pointer;
                    height: 25px;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    .modalah__teamlSpin {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .modalah__info {
            width: calc(100% - 225px);
            .modalah__nameSLY {
                display: flex;
                justify-content: space-between;
                .modalah__name {
                    width: 45%;
                }
                .modalah__soluongtv {
                    width: 25%;
                }
                .modalah__namthanhlap {
                    width: 25%;
                }
            }
            .modalah__emailWeb {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                margin-bottom: 15px;
                .modalah__email,
                .modalah__website {
                    width: 48%;
                }
                .modalah__email {
                    cursor: context-menu;
                }
            }
            .modalah__changePass {
                height: 0;
                overflow: hidden;
                transition: all 0.5s;
                .modalah__pass {
                    height: 0;
                    display: flex;
                    justify-content: space-between;
                    .modalah__oldpass,
                    .modalah__newpass,
                    .modalah__prepass {
                        width: 30%;
                    }
                }
            }
            .modal__openRP {
                height: 62px;
                .modalah__pass {
                    height: 100%;
                }
            }
        }
    }
    .modalah__action {
        text-align: right;
        margin-top: 15px;
        .modalah__update {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.modalah__fontWeight {
    font-weight: 600;
}
